.intro {
  text-align: center;

  background-color: rgba(255, 192, 203, 0.3);
  box-shadow: 0 0 10px 2px green;

  margin-bottom: 40px;
  padding: 20px 0;
}

body {
  margin: 0;
}

.intro h1, .intro h2 {
  margin: 0;
}

.intro h1 {
  margin-bottom: 10px;
}

.animal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.animal p {
  width: 75%;
  text-align: justify;
  margin: 0;
}

img {
  max-width: 250px;
  height: auto;
}

.animal div {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

